video {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

canvas {
  border: 5px solid #ff0000;
  height: 250px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scrollOn-data {
  overflow-y: auto;
  height: calc(98vh - 240px) !important;

  p{
    margin: 6px 6px 0px 10px;
  }
}

.scanbox {
  position: absolute;
  top: 0;
  height: 250px;
  width: 100%;
  background: rgba(85, 85, 85, 0.6);

  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
